<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Hlídač Shopů</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.4.2</string>
    <key>CFBundleVersion</key>
    <string>13</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>NSExtension</key>
    <dict>
      <key>NSExtensionPointIdentifier</key>
      <string>com.apple.Safari.extension</string>
      <key>NSExtensionPrincipalClass</key>
      <string>$(PRODUCT_MODULE_NAME).SafariExtensionHandler</string>
      <key>SFSafariContentScript</key>
      <array>
        <dict>
          <key>Script</key>
          <string>script.js</string>
        </dict>
      </array>
      <key>SFSafariWebsiteAccess</key>
      <dict>
        <key>Allowed Domains</key>
        <array>
          <string>www.mall.cz</string>
          <string>www.mall.sk</string>
          <string>www.alza.cz</string>
          <string>www.alza.sk</string>
          <string>m.alza.cz</string>
          <string>m.alza.sk</string>
          <string>www.czc.cz</string>
          <string>www.mironet.cz</string>
          <string>www.datart.cz</string>
          <string>nakup.itesco.cz</string>
          <string>www.rohlik.cz</string>
          <string>www.notino.cz</string>
          <string>www.tsbohemia.cz</string>
          <string>www.mountfield.cz</string>
          <string>www.lekarna.cz</string>
          <string>www.kasa.cz</string>
          <string>www.kosik.cz</string>
        </array>
        <key>Level</key>
        <string>Some</string>
      </dict>
    </dict>
    <key>NSHumanReadableCopyright</key>
    <string>© 2019 TopMonks</string>
    <key>NSHumanReadableDescription</key>
    <string>Ujistěte se, že nakupujete opravdu se slevou. Není sleva jako sleva. </string>
  </dict>
</plist>
