*.crx
*.pem
.DS_Store
.env
.idea/
.vscode/

node_modules/
.yarn/*
!.yarn/patches/
!.yarn/releases/
!.yarn/plugins/
!.yarn/sdks/
!.yarn/versions/
.pnp.*
yarn-error.log

dist/
extension/content.js
extension-dist/
public/
screenshots/
stats/
coverage/
/test-results.xml

apple/build/
apple/fastlane/README.md
apple/fastlane/report.xml
apple/App.app.dSYM.zip
apple/App.app/
apple/App.pkg
apple/**/project.xcworkspace/
apple/**/xcuserdata/
apple/**/*.xcuserstate

extension/content.js.map
diff.json

apify_storage/
actors/**/storage

tmp
