*.crx
*.pem
.DS_Store
.env
.idea/

dist/
node_modules/
extension-dist/
public/
screenshots/

yarn-error.log

/apple/osx/build/
/apple/osx/hlidac-shopu/hlidac-shopu Extension/script.js # the bundle
project.xcworkspace/
xcuserdata/
*.xcuserstate
