<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <title>Check Shopů</title>
  <!-- Required styles for MDC Web -->
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400i,600,700,700i&amp;subset=latin-ext&amp;display=swap" rel="stylesheet">
  <style>
    .iteminfo__table {
      display: flex;
      flex-flow: row wrap;
    }
    .iteminfo__row {
      padding-bottom: 5px;
      flex: 1 1 25%;
    }
    .iteminfo__row:nth-child(4n-1), .iteminfo__row:nth-child(4n) {
      background-color: #f5f5f5;
    }
    .iteminfo__row:nth-child(2n) {
      flex: 1 1 75%;
    }
    .subtitle { color: #C4C4C4; margin-bottom: 10px;}
    .plot { max-width: 650px; }
  </style>
</head>

<div id="app">
  <div class="mdc-layout-grid content">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <search-bar @search="loadData" :url="url" placeholder="https://www..."></search-bar>
        <div v-if="loadingData">Loading...</div>
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h1 v-if="metadata">{{ metadata.itemName }}</h1>
        <h1 v-else>Chybí metadata!</h1>
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <img v-if="metadata" :src="metadata.itemImage" style="width: 300px" alt="product image">
      </div>

      <plot :data="data" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 plot">
      </plot>

      <info-table title="shop info" :values="shopInfo" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 iteminfo">
      </info-table>

      <info-table title="metadata" :values="metadata" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      </info-table>
    </div>
  </div>
</div>

<!-- Required MDC Web JavaScript library -->
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<!-- SearchBar -->
<script type="text/x-template" id="cmp-search-bar">
  <label ref="textField" class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label" style="width: 100%">
    <input class="mdc-text-field__input" type="text" :value="url" :placeholder="placeholder" aria-label="Label" @keyup.enter="$emit('search', $event.target.value)">
    <span class="mdc-notched-outline">
      <span class="mdc-notched-outline__leading"></span>
      <span class="mdc-notched-outline__trailing"></span>
    </span>
  </label>
</script>
<script>
Vue.component("search-bar", {
  template: "#cmp-search-bar",
  props: ["placeholder", "url"],
  mounted() {
    mdc.textField.MDCTextField.attachTo(this.$refs.textField);
    //this.$refs.textField.focus();
  }
});
</script>
<!-- !SearchBar -->

<!-- InfoTable -->
<script type="text/x-template" id="cmp-info-table">
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    <div class="subtitle">{{title}}</div>
    <div v-if="values" class="iteminfo__table">
      <template v-for="(value, name) in values">
        <div class="iteminfo__row">{{name}}</div>
        <div class="iteminfo__row">{{value}}</div>
      </template>
    </div>
    <div v-else>Data missing</div>
  </div>
</script>
<script>
Vue.component("info-table", {
  template: "#cmp-info-table",
  props: ["title", "values"],
});
</script>
<!-- InfoTable -->

<!-- Plot -->
<script type="text/x-template" id="cmp-plot">
  <div>
    <canvas ref="plot"></canvas>
  </div>
</script>
<script>
Chart.plugins.register({
  afterDraw: function(chart) {
    if (chart.data.datasets.every(set => set.data.length == 0)) {
      // No data is present
      var ctx = chart.chart.ctx;
      var width = chart.chart.width;
      var height = chart.chart.height;
      // chart.clear();

      ctx.save();
      ctx.textAlign = "center";
      ctx.textBaseline = "middle";
      ctx.font = "16px normal 'Helvetica Nueue'";
      ctx.fillText("Chybí data", width / 2, height / 2);
      ctx.restore();
    }
  }
});

function plotGraph(canvas, prices) {
  const values = prices.currentPrice.filter(p => p.y !== null).map(p => p.y);
  const min = Math.min(...values);
  const max = Math.max(...values);
  const ctx = canvas.getContext("2d");

  const count = prices.currentPrice.length;
  const stepSize = Math.floor(count / 12) || 1;

  return new Chart(ctx, {
    type: "line",
    data: {
      labels: prices.currentPrice.map(p => p.x),
      datasets: [
        {
          label: "Uváděná původní cena",
          steppedLine: "after",
          borderColor: "#5C62CD",
          borderWidth: 2,
          borderCapStyle: "round",
          fill: false,
          backgroundColor: "#ffffff00",
          pointRadius: 0,
          spanGaps: false,
          data: prices.originalPrice,
        },
        {
          label: "Doplněná prodejní cena",
          steppedLine: "after",
          borderColor: "#EB6F55",
          borderWidth: 1,
          borderDash: [5, 10],
          borderCapStyle: "round",
          fill: false,
          backgroundColor: "#ffffff00",
          pointRadius: 0,
          spanGaps: true,
          data: prices.currentPrice,
        },
        {
          label: "Prodejní cena",
          steppedLine: "after",
          borderColor: "#EB6F55",
          borderWidth: 2,
          borderCapStyle: "round",
          fill: false,
          backgroundColor: "#ffffff00",
          pointRadius: 0,
          spanGaps: false,
          data: prices.currentPrice,
        }
      ]
    },
    options: {
      legend: {
        display: false,
      },
      tooltips: {
        mode: "index",
        intersect: false,
        backgroundColor: "#FCF4A7",
        borderColor: "#FBEA61",
        borderWidth: 2,
        bodyFontColor: "#1D3650",
        bodySpacing: 4,
        titleFontColor: "#1D3650",
        xPadding: 12,
        yPadding: 8,
        caretSize: 12,
        callbacks: {
          title(item, data) {
            const date = data.labels[item[0].index];
            return date.toLocaleDateString("cs", { day: "numeric", month: "long", year: "numeric" });
          },
          label(item, _data) {
            if (item.datasetIndex === 0) {
              return `Uváděná původní cena: ${item.yLabel.toLocaleString("cs")} ${prices.currency}`;
            }
            else if (item.datasetIndex === 1) {
              return `Prodejní cena: ${item.yLabel.toLocaleString("cs")} ${prices.currency}`;
            }
          },
          labelColor(item, _chart) {
            const red = "#FF8787";
            const blue = "#5C62CD";
            const color = item.datasetIndex > 0 ? red : blue;

            return {
              borderColor: color,
              backgroundColor: color,
            };
          },
        }
      },
      scales: {
        xAxes: [{
          type: "time",
          time: {
            unit: "day",
            stepSize,
            displayFormats: {
              day: "D.M.YYYY"
            }
          },
        }],
        yAxes: [{
          ticks: {
              suggestedMax: max + 0.1 * max,
              suggestedMin: min - 0.1 * min,
          }
        }]
      }
    },
  });
}

function* daysBetween(start, end) {
  const startDay = new Date(start.getTime());
  startDay.setHours(0, 0, 0, 0);
  const endDay = new Date(end.getTime());
  endDay.setHours(0, 0, 0, 0);
  for (const d = startDay; d <= endDay; d.setDate(d.getDate() + 1)) {
    yield new Date(d.getTime());
  }
}

function createDataset(data) {
  const parseTime = s => {
    const d = new Date(s);
    d.setHours(0, 0, 0, 0);
    return d;
  };
  const dataMap = new Map(data.map(i => [parseTime(i.d).getTime(), i]));
  const dataset = {
    originalPrice: [],
    currentPrice: []
  };
  let lastDay = data[0];
  for (const day of daysBetween(
    parseTime(data[0].d),
    parseTime(data[data.length - 1].d)
  )) {
    let item = dataMap.get(day.getTime());
    if (!item) {
      item = lastDay;
    } else {
      lastDay = item;
    }
    dataset.originalPrice.push({ x: day, y: item.o === "" ? null : item.o });
    dataset.currentPrice.push({ x: day, y: item.c === "" ? null : item.c });
  }
  return dataset;
}

Vue.component("plot", {
  template: "#cmp-plot",
  props: ["data"],
  computed: {
    dataset() {
      return createDataset(this.data);
    },
  },
  methods: {
    plot() {
      if (!this.data) return;
      console.log("render plot");
      plotGraph(this.$refs.plot, this.dataset);
    }
  },
  watch: {
    data() {
      this.$nextTick(function () {
        console.log("plotting", this.data);
        this.plot();
      });  
    }
  },
});
</script>
<!-- !Plot -->

<script>
window.app = new Vue({
  el: "#app",
  data: {
    loadingData: false,
    url: null,
    itemId: null,
    shopInfo: null,
    metadata: null,
    data: null,
  },
  methods: {
    async loadData(url) {
      this.loadingData = true;
      const params = new URLSearchParams(window.location.search);
      params.set("url", url);
      window.history.pushState({}, "", decodeURIComponent(`${window.location.pathname}?${params}`));
      
      try {
        this.url = url;
        const request = axios.create({ baseURL: "https://api.hlidacshopu.cz/" });

        const checkResult = await request.get("/check", { params: { api: "1", url, itemId: this.itemId } });
        this.shopInfo = checkResult.data.shop;
        this.metadata = checkResult.data.metadata;
        this.itemId = (this.metadata || {}).itemId;
        const dataResult = await request.get("/shop", { params: { url, itemId: this.itemId } });
        this.data = dataResult.data.data;
      } catch (e) {
        console.error(e);
      } finally {
        this.loadingData = false;
      }
    }
  },
  mounted() {
    const urlParams = new URLSearchParams(window.location.search);
    this.url = urlParams.get('url');
    this.itemId = urlParams.get('itemId');
    if (this.url) {
      this.loadData(this.url);
    }
  }
});
</script>
