{% extends 'layouts/master.njk' %}
{% block title %}Zásady ochrany osobních údajů na Hlídači shopů{% endblock %}

{% block styles %}
  <style>
    main ol,
    main ul {
      font: 16px/1.75 "Open Sans", sans-serif;
    }
  </style>
{% endblock %}

{% block main %}
  <section class="personal-security">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h1>Zásady ochrany osobních údajů a informace o&nbsp;zpracování
            osobních&nbsp;údajů</h1>
          <h2>I. Úvodní ustanovení</h2>
          <ol>
            <li>Pro potřeby těchto Zásad se rozumí:</li>
            <ul>
              <li class="list--letter"><b>Provozovatelem</b> firmy <a href="https://apify.com/">Apify</a>,
                <a href="https://www.keboola.com/">Keboola</a> a
                <a href="https://www.topmonks.com/">TopMonks</a>.
              </li>
              <li class="list--letter"><b>Osobními údaji</b> např. jméno a příjmení, adresa bydliště, emailová
                adresa, telefonní číslo, identifikační číslo podnikající fyzické osoby a daňové identifikační číslo
                podnikající fyzické&nbsp;osoby.
              </li>
            </ul>
            <li>Provozovatel jakožto správce Osobních údajů tímto informuje o&nbsp;způsobu
              a rozsahu zpracování Osobních údajů, včetně rozsahu práv Uživatele
              souvisejících se zpracováním jejich Osobních&nbsp;údajů.
            </li>
            <li>Provozovatel je konzultantem v&nbsp;oblasti sběru a zpracování dat
              z&nbsp;českých eshopů a softwarového inženýrství. Tento web
              (<a href="https://www.hlidacshopu.cz/">hlidacshopu.cz</a>) provozuje za
              účelem informovat spotřebitele o&nbsp;reálných slevách a kreativních
              praktikách při tvoření slev na českých eshopech. V&nbsp;rámci této služby
              <b>nejsou Provozovatelem zpracovávány žádné</b> Osobní&nbsp;údaje.
            </li>
          </ol>

          <h2>II. Ochrana osobních údajů a informace o&nbsp;zpracování</h2>
          <ol>
            <li>Na fyzické osoby, které navštěvují tento web a používají
              rozšíření do prohlížeče (dále jen „<b>Uživatel</b>“), se vztahuje
              zákon č. 101/2000 Sb., o&nbsp;ochraně osobních údajů, ve znění pozdějších
              předpisů a další příslušné právní předpisy.
            </li>
            <li>Uživatel bere na vědomí, že <b>může docházet k&nbsp;ukládání cookies
                společnosti Google LLC</b> <b>na jeho zařízení</b>. A&nbsp;to z&nbsp;důvodu
              měření návštěvnosti na webu hlidacshopu.cz. Soubory cookies však nejsou
              dále uchovávány ani používány k&nbsp;pozdějším marketingovým
              účelům.
            </li>
            <li>Rozšíření do prohlížeče zároveň nesbírá žádné osobní údaje
              o&nbsp;Uživatelích. Pro jeho funkci je pouze potřeba načíst id ověřovaného
              produktu, které po zobrazení dat ze své databáze okamžitě&nbsp;smaže.
            </li>
          </ol>

          <h2>III. Práva Uživatele související se zpracováváním</h2>
          <ol>
            <li>Uživatel má právo kdykoli ve svém zařízení soubory cookies vymazat a
              znemožnit tak identifikaci jeho návštěvy na webu <a
                href="https://www.hlidacshopu.cz/">hlidacshopu.cz</a> .
            </li>
          </ol>
          <h2>IV. Závěrečná ustanovení</h2>
          <ol>
            <li>Veškeré právní vztahy vznikající v&nbsp;souvislosti se zpracováváním
              Osobních údajů se řídí právním řádem České republiky, a to bez
              ohledu na to, odkud byl přístup k&nbsp;nim realizován. K&nbsp;řešení případných
              sporů vzniklých v&nbsp;souvislosti s&nbsp;ochranou soukromí mezi Uživatelem a
              Provozovatelem jsou příslušné české&nbsp;soudy.
            </li>
            <li>Znění Zásad může Provozovatel změnit či doplňovat.</li>
            <li>Tyto Zásady nabývají účinnosti
              <time datetime="2019-10-20">20. října 2019</time>
              .
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
