{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  },
  "rules": {
    "no-undef": "warn"
  },
  "env": {
    "browser": false,
    "shared-node-browser": true,
    "es2022": true,
    "node": true
  }
}
