version: 2.1
orbs:
  aws-cli: circleci/aws-cli@3.1.3
  aws-cloudfront: topmonks/aws-cloudfront@1.0.0
  aws-s3: circleci/aws-s3@3.0.0
  browser-tools: circleci/browser-tools@1.2.4
  codecov: codecov/codecov@3.2.3
  github: topmonks/github@1.3.0
  node: circleci/node@5.0.3
  pulumi: pulumi/pulumi@2.1.0
  rollbar: rollbar/deploy@1.0.1
  slack: circleci/slack@4.10.1

commands:
  install_packages:
    steps:
      - node/install
      - node/install-packages:
          pkg-manager: yarn-berry
          cache-version: v2
          override-ci-command: yarn install --immutable
  read_deployment_envs:
    parameters:
      pulumi_backend_uri:
        type: string
        default: s3://pulumi.hlidacshopu.cz
      stack:
        type: string
        default: hlidac-shopu-prod
      s3_bucket_uri_property:
        type: string
        default: websiteS3BucketUri
      cloudfront_distribution_id_property:
        type: string
        default: websiteCloudFrontId
      working_directory:
        type: string
        default: .
    steps:
      - pulumi/login:
          cloud-url: << parameters.pulumi_backend_uri >>
      - run: pulumi stack select << parameters.stack >>
      - pulumi/stack_output:
          stack: << parameters.stack >>
          property_name: << parameters.s3_bucket_uri_property >>
          env_var: AWS_S3_BUCKET
          working_directory: << parameters.working_directory >>
      - pulumi/stack_output:
          stack: << parameters.stack >>
          property_name: << parameters.cloudfront_distribution_id_property >>
          env_var: AWS_CLOUDFRONT_DISTRIBUTION_ID
          working_directory: << parameters.working_directory >>
  deploy_website:
    parameters:
      site_name:
        type: string
      distribution_id:
        type: string
        default: "${AWS_CLOUDFRONT_DISTRIBUTION_ID}"
      paths:
        type: string
        default: "/*"
      after_s3_sync:
        description: Steps that will be execute after S3 sync, but before Cloudfront distribution invalidation
        type: steps
        default: []
    steps:
      - read_deployment_envs
      - aws-s3/sync:
          from: public/<< parameters.site_name >>
          to: s3://<< parameters.site_name >>
      - steps: << parameters.after_s3_sync >>
      - aws-cloudfront/invalidate:
          distribution_id: << parameters.distribution_id >>
          paths: << parameters.paths >>
  deploy_actor:
    parameters:
      token:
        type: string
        default: "${APIFY_TOKEN}"
    steps:
      - run: yarn apify login -t << parameters.token >>
      - run: yarn apify push

jobs:
  test-actors:
    machine:
      image: ubuntu-2004:202111-02
    # resource_class: arm.medium
    environment:
      AWS_STS_REGIONAL_ENDPOINTS: regional
    steps:
      - checkout
      - node/install
      - node/install-packages:
          pkg-manager: yarn-berry
          cache-version: v2
          override-ci-command: yarn install --immutable
      - run:
          name: Lint actors
          command: yarn lint:actors
      - run:
          name: Actors unit tests
          command: yarn test:actors
      - slack/notify:
          event: fail
          template: basic_fail_1
          channel: ntf-hlidac-shopu

  test-lib:
    machine:
      image: ubuntu-2004:202111-02
    # resource_class: arm.medium
    environment:
      AWS_STS_REGIONAL_ENDPOINTS: regional
    steps:
      - checkout
      - node/install
      - node/install-packages:
          pkg-manager: yarn-berry
          cache-version: v2
          override-ci-command: yarn install --immutable
      - run:
          name: Run tests
          command: yarn test:lib
      - codecov/upload:
          file: coverage/lcov.info
      - store_artifacts:
          path: coverage
      - store_test_results:
          path: ./test-results.xml
      - slack/notify:
          event: fail
          template: basic_fail_1
          channel: ntf-hlidac-shopu

  build-website:
    machine:
      image: ubuntu-2004:202111-02
    # resource_class: arm.medium
    environment:
      AWS_STS_REGIONAL_ENDPOINTS: regional
    steps:
      - checkout
      - install_packages
      - run:
          name: Lint website
          command: yarn lint:website
      - run:
          name: Export build metadata
          command: |
            echo '{}' | \
            jq --arg key0 'environment' \
               --arg value0 'production' \
               --arg key1 'version' \
               --arg value1 $CIRCLE_SHA1 \
               '. | .[$key0]=$value0 | .[$key1]=$value1' \
            > www.hlidacshopu.cz/src/data/build.json
      - run:
          name: Build website
          command: yarn build:www.hlidacshopu.cz
      - persist_to_workspace:
          root: .
          paths: [public]
      - slack/notify:
          event: fail
          template: basic_fail_1
          channel: ntf-hlidac-shopu

  build-web-extension:
    machine:
      image: ubuntu-2004:202111-02
    # resource_class: arm.medium
    environment:
      AWS_STS_REGIONAL_ENDPOINTS: regional
    steps:
      - checkout
      - install_packages
      - run:
          name: Build extension bundle
          command: yarn build:extension
      - run:
          name: Lint web extension
          command: |
            mkdir -p results
            yarn lint:extension
            yarn lint:extension -o json > results/lint.json
      - store_artifacts:
          path: ./results
      - run:
          name: Build web extensions
          command: |
            yarn build:chrome
            yarn build:firefox
      - store_artifacts:
          path: ./dist
      - persist_to_workspace:
          root: .
          paths: [dist, extension-dist, extension/content.js]
      - slack/notify:
          event: fail
          template: basic_fail_1
          channel: ntf-hlidac-shopu

  test-web-extension:
    machine:
      image: ubuntu-2004:202111-02
    # resource_class: arm.medium
    environment:
      AWS_STS_REGIONAL_ENDPOINTS: regional
    steps:
      - checkout
      - attach_workspace:
          at: .
      - install_packages
      - run:
          name: Make screenshots
          command: yarn node ./scripts/screenshotter.mjs
      - store_artifacts:
          path: ./screenshots

  publish-web-extensions:
    parameters:
      browser:
        type: string
    machine:
      image: ubuntu-2004:202111-02
    # resource_class: arm.medium
    environment:
      AWS_STS_REGIONAL_ENDPOINTS: regional
    steps:
      - checkout
      - attach_workspace:
          at: .
      - install_packages
      - run:
          name: Publish extension
          command: yarn publish:<< parameters.browser >>
      - slack/notify:
          event: fail
          template: basic_fail_1
          channel: ntf-hlidac-shopu
      - slack/notify:
          event: pass
          template: success_tagged_deploy_1
          mentions: "@here"
          channel: ntf-hlidac-shopu

  publish-apple-apps:
    macos:
      xcode: "14.0.0"
    steps:
      - checkout
      - attach_workspace:
          at: .
      # - run:
      #     working_directory: "apple"
      #     command: bundle install
      - restore_cache:
          keys:
            - v1-gem-cache-apple-{{ checksum "apple/Gemfile.lock" }}
      - run:
          name: Build and Release Apple apps
          working_directory: "apple"
          command: |
            echo $PWD
            ruby --version
            bundle --version
            fastlane --version
            echo $MATCH_PASSWORD | cut -c 1-3
            bundle install
            echo "$FASTLANE_APP_STORE_API_KEY" > fastlane/ApiKey.json
            bundle exec fastlane mac release
            bundle exec fastlane ios release
      - slack/notify:
          event: fail
          template: basic_fail_1
          channel: ntf-hlidac-shopu
      - save_cache:
          paths:
            - ~/.bundle
          key: v1-gem-cache-apple-{{ checksum "apple/Gemfile.lock" }}

  provision:
    machine:
      image: ubuntu-2004:202111-02
    # resource_class: arm.medium
    environment:
      AWS_STS_REGIONAL_ENDPOINTS: regional
    steps:
      - checkout
      - pulumi/login:
          cloud-url: s3://pulumi.hlidacshopu.cz
      - install_packages
      - run:
          name: Lint API
          command: yarn lint:api
      - run: pulumi stack select hlidac-shopu-prod
      - pulumi/update:
          stack: hlidac-shopu-prod
          skip-preview: true
      - slack/notify:
          event: fail
          template: basic_fail_1
          channel: ntf-hlidac-shopu

  preview-provision:
    machine:
      image: ubuntu-2004:202111-02
    # resource_class: arm.medium
    steps:
      - checkout
      - pulumi/login:
          cloud-url: s3://pulumi.hlidacshopu.cz
      - install_packages
      - run: pulumi stack select hlidac-shopu-prod
      - pulumi/preview:
          stack: hlidac-shopu-prod
      - slack/notify:
          event: fail
          template: basic_fail_1
          channel: ntf-hlidac-shopu

  deploy-site:
    parameters:
      site_name:
        type: string
      after_s3_sync:
        type: steps
        default: []
    executor: aws-cli/default
    environment:
      ROLLBAR_ACCESS_TOKEN: "103d0a6fb0f7469abb633dcbc6920122"
    steps:
      - checkout
      - attach_workspace:
          at: .
      - deploy_website:
          site_name: << parameters.site_name >>
          after_s3_sync: << parameters.after_s3_sync >>
      - slack/notify:
          event: fail
          template: basic_fail_1
          channel: ntf-hlidac-shopu
      - rollbar/notify_deploy

  merge_pr:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - github/install
      - github/merge_pr:
          rebase: true
      - slack/notify:
          event: fail
          template: basic_fail_1
          channel: ntf-hlidac-shopu

  github_release:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - attach_workspace:
          at: .
      - github/install
      - github/release:
          tag: "$CIRCLE_TAG"
          files: dist/*.zip
          generate_notes: true
          notes_file: CHANGELOG.md
workflows:
  ci:
    jobs:
      - test-actors:
          context: org-global
      - test-lib:
          context: org-global
          filters:
            branches:
              only: /.*/
            tags:
              only: /^extension-.*/
      - preview-provision:
          context:
            - org-global
            - app-hlidac-shopu
          filters:
            branches:
              ignore: trunk
      - provision:
          context:
            - org-global
            - app-hlidac-shopu
          requires:
            - test-lib
          filters:
            branches:
              only: trunk
      - build-web-extension:
          context: org-global
          requires:
            - test-lib
          filters:
            branches:
              only: /.*/
            tags:
              only: /^extension-.*/
#      - test-web-extension:
#          requires:
#            - build-web-extension
      - github_release:
          context:
            - org-github
            - org-global
          requires:
            - build-web-extension
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^extension-.*/
      - publish-web-extensions:
          name: publish-chrome-web-extension
          browser: chrome
          context:
            - org-global
            - app-hlidac-shopu
          requires:
            - build-web-extension
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^extension-.*/
#      - publish-web-extensions:
#          name: publish-firefox-web-extension
#          browser: firefox
#          context:
#            - org-global
#            - app-hlidac-shopu
#          requires:
#            - build-web-extension
#          filters:
#            branches:
#              ignore: /.*/
#            tags:
#              only: /^extension-.*/
      - publish-apple-apps:
          context:
            - org-global
            - org-fastlane
          requires:
            - test-lib
            - build-web-extension
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^extension-.*/
      - publish-apple-apps-manually:
          type: approval
      - publish-apple-apps:
          context:
            - org-global
            - org-fastlane
          requires:
            - build-web-extension
            - publish-apple-apps-manually
          filters:
            branches:
              only: /.*/
      - build-website:
          context: org-global
          requires:
            - test-lib
      - deploy-site:
          site_name: www.hlidacshopu.cz
          context:
            - org-global
            - app-hlidac-shopu
          requires:
            - provision
            - build-website
          filters:
            branches:
              only: trunk
      - merge_pr:
          context:
            - org-github
            - org-global
          requires:
            - build-web-extension
            - build-website
            - preview-provision
          filters:
            branches:
              only:
                - trunk-cf-autofix
                - /renovate\/.*/
