{% extends 'layouts/master.njk' %}
{% from 'macros/helpers.njk' import sprite %}
{% block title %}Přehled připravenostu e-shopů na směrnici EU ohledně udávaných slev podle Hlídači shopů{% endblock %}

{% block preload %}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/assets/css/dashboard.css">
  <style>
    .shops-stats {
      border-spacing: 0 12px;
    }

    .shops-stats .sprite svg {
      width: 80px;
      max-height: 23px;
    }

    .shops-stats thead th {
      text-align: left;
      font-weight: normal;
      font-size: 14px;
      padding: 12px;
      border-bottom: 1px solid #dadada;
    }

    .shops-stats thead th:first-of-type {
      font-weight: bold;
    }

    .dashboard-row td,
    .dashboard-row th {
      border: 1px solid #ebeef2;
      border-left: none;
      border-right: none;
      border-collapse: collapse;
      padding: 12px;
    }

    .dashboard-row th {
      border-left: 1px solid #ebeef2;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    .dashboard-row td {
      text-align: right;
    }

    .dashboard-row td:last-of-type {
      border-right: 1px solid #ebeef2;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  </style>
  <style>
    .review__rating {
      padding-right: 0;
    }

    .hs-metrics {
      display: flex;
      margin: 0 24px;
      justify-content: space-evenly;
    }

    .hs-metrics__item {
      display: flex;
      flex-direction: column-reverse;
    }

    .hs-metrics__item dt,
    .hs-metrics__item dd {
      margin: 0;
      text-align: center;
    }

    .hs-metrics__item data {
      font-size: 3em;
    }
  </style>
{% endblock %}

{% block main %}
  <section class="dashboard">
    <div class="mdc-layout-grid">
      <div class="layout-wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h2>Sledované e-shopy v číslech</h2>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <div id="shop-cards" class="mdc-layout-grid__inner"></div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <table class="shops-stats">
              <colgroup>
                <col width="150"/>
              </colgroup>
              <thead>
              <tr>
                <th scope="col">E-shop</th>
                <th scope="col">Produktů celkem</th>
                <th scope="col">Produktů ve slevě</th>
                <th scope="col">Průměrná uváděná sleva</th>
                <th scope="col">Průměrná reálná sleva</th>
                <th scope="col">Počet rozdílných slev</th>
                <th scope="col">Počet změn referenční ceny</th>
                <th scope="col">Poslední aktualizace</th>
                <th scope="col">Rating</th>
              </tr>
              </thead>
              <tbody id="table-root">
              <tr>
                <td colspan="5">
                  <div class="loading-container">
                    <div class="loader" aria-label="Načítám data…">
                      Chvilku strpení, načítají se data&hellip;
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <p class="explanation">
              Poznámka: <em>Reálná sleva</em> se počítá podle <a href="/metodika/#nova">naší nové metodiky</a>.
            </p>
          </div>
          <div id="analyzy" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h2>Naše analýzy</h2>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <a href="https://jakubbalada.medium.com/black-friday-2021-nov%C3%A9-re%C3%A1ln%C3%A9-slevy-a-star%C3%A9-triky-45d93d4ace08"
                        title="Přečtě si výsledky Analýzy Black Friday 2021">
              <picture>
                {% set mobileBanner = images["mobile-banner-2021.png"]["public_id"] %}
                {% set desktopBanner = images["desktop-banner-2021.png"]["public_id"] %}
                <source
                  media="screen and (max-width: 360px)"
                  srcset="{{ mobileBanner | cloudinaryUrl(width=328) }} 1x,
                        {{ mobileBanner | cloudinaryUrl(width=328,dpr=1.5) }} 1.5x,
                        {{ mobileBanner | cloudinaryUrl(width=328,dpr=2) }} 2x"/>
                <source
                  media="screen and (min-width: 361px) and (max-width: 479px)"
                  srcset="{{ mobileBanner | cloudinaryUrl(width=480) }} 1x,
                        {{ mobileBanner | cloudinaryUrl(width=480,dpr=1.5) }} 1.5x,
                        {{ mobileBanner | cloudinaryUrl(width=480,dpr=2) }} 2x"/>
                <source
                  media="screen and (min-width: 480px) and (max-width: 839px)"
                  srcset="{{ desktopBanner | cloudinaryUrl(width=840) }} 1x,
                        {{ desktopBanner | cloudinaryUrl(width=840,dpr=1.5) }} 1.5x,
                        {{ desktopBanner | cloudinaryUrl(width=840,dpr=2) }} 2x"/>
                <source
                  media="screen and (min-width: 840px)"
                  srcset="{{ desktopBanner | cloudinaryUrl(width=1008) }} 1x,
                        {{ desktopBanner | cloudinaryUrl(width=1008,dpr=1.5) }} 1.5x,
                        {{ desktopBanner | cloudinaryUrl(width=1008,dpr=2) }} 2x"/>
                <img alt="Analýza Black Friday 2021" class="responsive"
                     src="{{ mobileBanner | cloudinaryUrl(width=480,dpr="auto") }} "/>
              </picture>
            </a>
          </div>

          <link rel="stylesheet" href="/assets/css/cards.css" />
          <div class="mdc-layout-grid__cell">
            <div class="hs-card">
              <a href="https://blog.apify.com/black-friday-2020-bl%C3%BDsk%C3%A1-se-na-lep%C5%A1%C3%AD-%C4%8Dasy-749f4ec909be">
                {% set analyza2020 = images["analyza-2020.png"]["public_id"] %}
                <img alt="Analýza 2020"
                  width="340"
                  height="170"
                  class="responsive"
                  src="{{ analyza2020 | cloudinaryUrl(width=340,height=170,dpr="auto") }}"
                  srcset="{{ analyza2020 | cloudinaryUrl(width=340,height=170,dpr=1) }} 1x,
                          {{ analyza2020 | cloudinaryUrl(width=340,height=170,dpr=1.5) }} 1.5x,
                          {{ analyza2020 | cloudinaryUrl(width=340,height=170,dpr=2) }} 2x"
                  loading="lazy"
                  role="presentation">
                <h3>BLACK FRIDAY ANALÝZA 2020</h3>
                <p>Letošní Black Friday byl na největších českých e-shopech co do počtu nabízených produktů a velikosti&hellip;</p>
              </a>
            </div>
          </div>
          <div class="mdc-layout-grid__cell">
            <div class="hs-card">
              <a href="https://medium.com/@jakubbalada/black-friday-2019-s-hl%C3%ADda%C4%8Dem-shop%C5%AF-9a3ddd352a8c">
                {% set analyza2019 = images["analyza-2019.png"]["public_id"] %}
                <img alt="Analýza 2019"
                  width="340"
                  height="170"
                  class="responsive"
                  src="{{ analyza2019 | cloudinaryUrl(width=340,height=170,dpr="auto") }}"
                  srcset="{{ analyza2019 | cloudinaryUrl(width=340,height=170,dpr=1) }} 1x,
                          {{ analyza2019 | cloudinaryUrl(width=340,height=170,dpr=1.5) }} 1.5x,
                          {{ analyza2019 | cloudinaryUrl(width=340,height=170,dpr=2) }} 2x"
                  loading="lazy"
                  role="presentation">
                <h3>BLACK FRIDAY ANALÝZA 2019</h3>
                <p>V letošním Black Friday bylo na největších českých eshopech dvakrát více produktů&hellip;</p>
              </a>
            </div>
          </div>
          <div class="mdc-layout-grid__cell">
            <div class="hs-card">
              <a href="https://jakubbalada.medium.com/black-friday-po%C4%8Desku-kouzla-se-slevami-po-roce-cf48de109ba">
                {% set analyza2018 = images["analyza-2018.png"]["public_id"] %}
                <img alt="Analýza 2018"
                  width="340"
                  height="170"
                  class="responsive"
                  src="{{ analyza2018 | cloudinaryUrl(width=340,height=170,dpr="auto") }}"
                  srcset="{{ analyza2018 | cloudinaryUrl(width=340,height=170,dpr=1) }} 1x,
                          {{ analyza2018 | cloudinaryUrl(width=340,height=170,dpr=1.5) }} 1.5x,
                          {{ analyza2018 | cloudinaryUrl(width=340,height=170,dpr=2) }} 2x"
                  loading="lazy"
                  role="presentation">
                <h3>BLACK FRIDAY ANALÝZA 2018</h3>
                <p>Letošní analýzu jsme nedělali sami v Apify, ale v rámci hackathonu na Data fesťáku&hellip;</p>
              </a>
            </div>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" style="height: 48px"></div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h2>Otevřená data <small>beta</small></h2>
            <p>
              Otevíráme
              <a
                href="https://console.cloud.google.com/bigquery?p=hlidacshopu&d=hlidacshopu&t=allshops&page=table" target="tableau"
              >naše data pro vaše analýzy</a>. Přístup k datům je zdarma,
              avšak potřebujete mít vytvořený účet na
              <a href="https://cloud.google.com/free/" target="tableau">Google Cloud Platform</a>
              se zadanými platebními údaji. BigQuery má dostatečně velkorysé volné
              kredity na to, abyste nemuseli za analýzu našich dat platit.
            </p>
            <h3>Implementace nad našimi daty</h3>
            <ul>
              <li>
                <a
                  href="https://public.tableau.com/app/profile/alena.me.ov./viz/TOP_SLEVY/Dashboard1"
                  target="tableau"
                >TOP Slevy (Czechitas)</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script type="module">
    import { main } from "/assets/esm/dashboard-v2.js";

    const tableRoot = document.getElementById("table-root");
    const shopCards = document.getElementById("shop-cards");
    main({ tableRoot, shopCards, extraData: {{ dashboard | dump | safe }} });
  </script>
  <script nomodule src="https://polyfill.io/v3/polyfill.min.js?features=globalThis%2Cdefault"></script>
  <script nomodule src="https://unpkg.com/regenerator-runtime@0.13.7/runtime.js"></script>
  <script nomodule src="/assets/js/dashboard-v2.js"></script>
{% endblock %}
