@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap");

:root {
  --mdc-theme-primary: #ffff;

  --mdc-theme-secondary: #545fef;
  --mdc-theme-secondary-dark: #3a42a0;
  --mdc-theme-secondary-light: #f7f7ff;

  --mdc-theme-third: #ca0505;
  --mdc-theme-fourth: #5dbd2f;

  --mdc-theme-text-primary-on-light: #000;
  --mdc-theme-text-secondary-on-light: #2e2828;
  --mdc-theme-text-third-on-light: #979797;

  --mdc-theme-primary-background: rgba(84, 95, 239, 0.07);
  --mdc-theme-secondary-background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 24.48%,
    rgba(84, 95, 239, 0.1) 100%
  );

  --hs-theme-background: #fff;
  --hs-theme-border: #e6e6ff;

  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 20px;
  --mdc-layout-grid-column-width-desktop: 60px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}
