@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap');
// Dashboard styles //

.dashboard {
  background-color: #FBFBFF;

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 22px;
  }

  .hs-card.hs-card--with-metrics {
    padding: 24px 14px 48px;

    .hs-metrics {
      .hs-metrics__item {
        dd text {
          font-size: 12px;
          font-weight: bold;
          fill: black;
          text-anchor: middle;
        }

        dt {
          font-size: 16px;
          margin-top: 20px;
        }
      }
    }

    blockquote {
      background-color: #EBEEF2;
      border-radius: 10px;
      display: flex;
      align-items: center;
      margin: 16px;

      p {
        color: #000000;
      }
      &:before {
        content: '"';
        font-family: 'BIZ UDMincho', serif;
        font-size: 120px;
        font-weight: 400;
        color: #ffffff;
        width: 45px;
        height: 45px;
        margin-left: 34px;
        transform: rotate(180deg);
      }
    }

    p:nth-of-type(2) {
      color: #000000;
      font-weight: 700;
      font-size: 14px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #828282;
    }
  }
}
