.logos {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0.5em 0;
    padding: 0;

    > li {
      margin: 1em 0.5em 0;
    }
  }

  svg {
    height: 16px;
    filter: saturate(0);
    transition: 0.3s filter ease-in;

    &:hover {
      filter: saturate(1);
    }
  }
}

.attendant {
  content-visibility: auto;

  .sub-title {
    text-align: center;
  }

  img {
    filter: saturate(0);
    max-width: 180px;

    &:hover {
      filter: saturate(1);
    }
  }

  .logos {
    svg {
      height: 40px;
    }

    li {
      margin: 1em 1em 0;
    }

    @media screen and (max-width: 479px) {
      ul {
        flex-direction: column;
      }
      li {
        margin: 1em 0;
      }
    }
  }
}

.illustration {
  text-align: center;
}

.guidance {
  content-visibility: auto;

  .browser-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .browser-support {
    display: block;
    text-align: center;
    width: 120px;
    margin: 0 1em;

    p {
      display: block;
      margin: 0.5em 0 1em;
    }

    .browser-support__icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: var(--mdc-theme-primary);
      border-radius: 50%;
      box-shadow: 0 20px 20px rgba(92, 98, 205, 0.1);

      width: 67px;
      height: 67px;

      img {
        width: 60%;
        height: auto;
      }
    }

    .browser-support__icon--disabled {
      img {
        filter: saturate(0) opacity(0.7);
      }
    }

    @media (max-width: 839px) {
      .sub-info--grey {
        text-align: center;
      }
      img {
        max-width: 80px;
        max-height: 80px;
      }
    }
  }

  .steps {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .step_2 {
      margin-top: 66px;
    }

    .step_3 {
      margin-top: 132px;
    }
    .final-step {
      text-align: center;

      p {
        margin-bottom: 2em;
      }
    }
  }
  @media (max-width: 840px) {
    .step_1,
    .step_2,
    .step_3 {
      margin-top: 34px;
      text-align: center;
    }
  }
}

.numbers {
  content-visibility: auto;

  dt {
    font-size: 13px;
    line-height: 16px;
  }

  dd.number {
    font: 700 44px/1.2 var(--hs-font-family);
    color: var(--mdc-theme-text-primary-on-light);
    text-align: center;
    margin: 0 0 0.5em;
  }
}

.references {
  content-visibility: auto;
}

.references_link {
  font-size: 18px;
  color: var(--mdc-theme-secondary);
  font-weight: 400;
  margin: 0 auto;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.news {
  content-visibility: auto;
  background: rgba(84, 95, 239, 0.07);
}

#hlidac-shopu-modal {
  a {
    color: var(--mdc-theme-secondary);
  }

  .hs-result__embed {
    width: 100%;
    box-sizing: border-box;
    border: none;
    scrollbar-width: thin;
    @media screen and (max-width: 479px) {
      position: fixed;
      top: 0;
      bottom: 1px;
      left: 0;
      right: 0;
      height: 100%;
    }
    @media screen and (min-width: 480px) {
      height: 90vh;
      border-radius: 18px;
    }
  }
}
