<a
  href="https://blog.apify.com/black-friday-2022-naposledy-bez-pravidel-deklarovane-slevy-jsou-uz-polovicni/"
  title="Přečtě si výsledky Analýzy Black Friday 2022">
  <picture>
    {% set mobileBanner = images["mobile-banner-2022.png"]["public_id"] %}
    {% set desktopBanner = images["desktop-banner-2022.png"]["public_id"] %}
    <source
      media="screen and (max-width: 360px)"
      srcset="{{ mobileBanner | cloudinaryUrl(width=328) }} 1x,
              {{ mobileBanner | cloudinaryUrl(width=328,dpr=1.5) }} 1.5x,
              {{ mobileBanner | cloudinaryUrl(width=328,dpr=2) }} 2x">
    <source
      media="screen and (min-width: 361px) and (max-width: 479px)"
      srcset="{{ mobileBanner | cloudinaryUrl(width=480) }} 1x,
              {{ mobileBanner | cloudinaryUrl(width=480,dpr=1.5) }} 1.5x,
              {{ mobileBanner | cloudinaryUrl(width=480,dpr=2) }} 2x">
    <source
      media="screen and (min-width: 480px) and (max-width: 839px)"
      srcset="{{ desktopBanner | cloudinaryUrl(width=840) }} 1x,
              {{ desktopBanner | cloudinaryUrl(width=840,dpr=1.5) }} 1.5x,
              {{ desktopBanner | cloudinaryUrl(width=840,dpr=2) }} 2x">
    <source
      media="screen and (min-width: 840px)"
      srcset="{{ desktopBanner | cloudinaryUrl(width=1008) }} 1x,
              {{ desktopBanner | cloudinaryUrl(width=1008,dpr=1.5) }} 1.5x,
              {{ desktopBanner | cloudinaryUrl(width=1008,dpr=2) }} 2x">
    <img alt="Analýza Black Friday 2022" class="responsive"
         src="{{ mobileBanner | cloudinaryUrl(width=480,dpr="auto") }} ">
  </picture>
</a>
