{% extends 'layouts/master.njk' %}
{% block title %}Metodika výpočtu reálné slevy na Hlídači shopů{% endblock %}

{% block styles %}
  <style>
    blockquote {
      font-style: italic;
    }
    ol {
      font-family: "Open Sans", sans-serif;
    }
  </style>
{% endblock %}

{% block main %}
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <article class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Metodika výpočtu reálné slevy</h2>

        <p>Na Hlídači shopů se snažíme pomoci lidem pochopit co se na e-shopech
          děje s&nbsp;cenami zboží. Dlouhodobě bojujeme proti zneužívání
          přeškrtnuté (původní / referenční) ceny, kde vzniká nejvíce prostoru pro kreativní
          slevotvorbu.</p>

        <p>Naším cílem je, aby slevy na e-shopech byly férové a neklamaly
          zákazníky. A s tím nám přišla v listopadu 2019 na pomoc <a
              href="https://eur-lex.europa.eu/legal-content/CS/TXT/HTML/?uri=CELEX:32019L2161&amp;qid=1604070938840&amp;from=EN">
              EU se směrnicí</a>, 
          jak chránit spotřebitele (The New Deal for Consumers).</p>
          
          <p>Členské státy měly implementovat tuto směrnici do svých zákonů do 28. května 2022. 
             U nás se novelizoval <a href="https://www.zakonyprolidi.cz/cs/1992-634">
              zákon o ochraně spotřebitele</a> 6. ledna 2023.</p>

          <p>Pro nás klíčová sekce v&nbsp;novelizovaném zákoně zní následovně:</p>
          
          <blockquote>
            <p>§ 12a</p>
            <ol>
              <li>
                Informace o slevě z ceny výrobku obsahuje informaci o nejnižší ceně výrobku, za kterou jej prodávající nabízel a prodával<br>
                a) v době 30 dnů před poskytnutím slevy,<br>
                b) od okamžiku, kdy začal výrobek nabízet a prodávat, do okamžiku poskytnutí slevy, pokud je výrobek v prodeji dobu kratší než 30 dnů, nebo<br>
                c) v době 30 dnů před prvním poskytnutím slevy, zvyšuje-li prodávající slevu z ceny postupně.
              </li>
              <li>
                Odstavec 1 se nepoužije pro výrobky, které podléhají rychlé zkáze, nebo pro výrobky s krátkou dobou spotřeby.
              </li>
            </ol>
          </blockquote>

          <p>Jak už to tak u právních předpisů bývá, nejsou vždy neprůstřelné, nebo řeší jen část problému. 
            Tušíme, že speciální případy bude každý e-shop řešit po svém. Nicméně základní pravidlo o výpočtu 
            slevy v okamžiku zlevnění by mělo mít jednotný výklad. Na Hlídači shopů jsme prozatím implementovali 
            následující model:</p>

          <p><b>Pokud bylo zboží zlevněno, považujeme to za slevovou akci do doby,
            dokud nedojde ke zdražení, nebo pokud není sleva starší 90&nbsp;dní. Pak slevu
            počítáme vůči <i>nejnižší ceně, za kterou se zboží
              prodávalo během 30&nbsp;dní před začátkem slevové akce</i>.</b></p>

          <p><b>Nově v našem modelu respektujeme <i>souvislé vícenásobné zlevňování</i> - po dobu možné platnosti slevy
          (tj. maximálně 90 dní zpět) považujeme za začátek slevové akce datum prvního z postupných, nepřerušených zlevnění.
          Slevu počítáme vůči <i>nejnižší ceně, za kterou se zboží prodávalo během 30&nbsp;dní před takto stanoveným začátkem slevové akce</i>.</b></p>

          <p><b>Pokud je sleva starší 90&nbsp;dní nebo se s&nbsp;cenou hýbalo nahoru, považujeme
            slevu za tržní korekci cen. V&nbsp;takovém případě počítáme reálnou slevu
            vůči běžné ceně. Za běžnou cenu považujeme <i>cenu takovou, za
              kterou se zboží prodávalo nejčastěji za posledních 90&nbsp;dní</i>.</b></p>
          
          <p>Tímto jsme v souladu s EU směrnící a prvními dvěmi body českého předběžného znění. 
            Třetí bod o vícenásobném zlevnění nově také reflektujeme, nejednoznačou definici časového
            období mezi dalšími slevami jsme vyřešili odkazem na 90denní možnou platnost slevy.
            Situace, kdy pravidelně např. jednou za rok dojde ke zlevnění 
            výrobku (a&nbsp;jinak se s cenou nehýba) a prodejce se může stále odkazovat na původní cenu před 
            několika lety, nám příjde proti duchu EU směrnice.</p>

          <p>Současně bychom uvítali definici časového období od začátku slevové akce (zlevnění výrobku), 
            po které může prodejce stále uvádět slevu (“životnost slevy”). V naší metodice jsme definovali 
            90 dní, případně ukončení v den, kdy dojde k pohybu ceny směrem nahoru.</p>  

      </article>
    </div>
  </div>
{% endblock %}
