{% extends 'layouts/master.njk' %}
{% block title %}Metodika výpočtu reálné slevy na Hlídači shopů{% endblock %}

{% block styles %}
  <style>
    blockquote {
      font-style: italic;
    }
    ol {
      font-family: "Open Sans", sans-serif;
    }
  </style>
{% endblock %}

{% block main %}
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <article class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Metodika výpočtu reálné slevy</h2>

        <p>Na Hlídači shopů se snažíme pomoci lidem pochopit co se na e-shopech
          děje s&nbsp;cenami zboží. Dlouhodobě bojujeme proti zneužívání
          přeškrtnuté (původní / referenční) ceny, kde vzniká nejvíce prostoru pro kreativní
          slevotvorbu.</p>

        <p>Naším cílem je, aby slevy na e-shopech byly férové a neklamaly
          zákazníky. A s tím nám přišla v listopadu 2019 na pomoc <a
              href="https://eur-lex.europa.eu/legal-content/CS/TXT/HTML/?uri=CELEX:32019L2161&amp;qid=1604070938840&amp;from=EN">
              EU se směrnicí</a>, 
          jak chránit spotřebitele (The New Deal for Consumers).</p>

          <p>Pro nás <a
              href="https://eur-lex.europa.eu/legal-content/CS/TXT/HTML/?uri=CELEX:32019L2161&amp;qid=1604070938840&amp;from=EN#d1e779-7-1">klíčová
              sekce v&nbsp;nové směrnici</a> zní následovně:</p>

          <blockquote>
            <p>Článek 6a</p>
            <ol>
              <li>
                Veškerá oznámení o&nbsp;slevě z&nbsp;ceny musí uvádět
                předchozí cenu, kterou obchodník uplatňoval po určité období před
                uplatněním slevy z&nbsp;ceny.
              <li>Předchozí cenou se rozumí nejnižší cena,
                kterou obchodník uplatňoval během období ne kratšího než 30&nbsp;dnů před
                uplatněním slevy z&nbsp;ceny.
              </li>
            </ol>
          </blockquote>
          
          <p>Členské státy mají implementovat tuto směrnici do svých zákonů do 22. května 2022. 
            Znění <a
              href="https://komora.cz/legislation/14-21-novela-z-c-634-1992-sb-o-ochrane-spotrebitele-a-z-c-89-2012-sb-obcansky-zakonik-t26-2-2021/">
              novely českého zákona o ochraně spotřebitele, které šlo do připomínkového řízení</a>, 
            zní následovně:</p>
          
          <blockquote>
            <p>§ 12a</p>
            <ol>
              <li>
                Informace o slevě z ceny výrobku obsahuje informaci o nejnižší ceně výrobku uplatňované 
                prodávajícím po dobu 30 dnů před poskytnutím slevy.
              <li>
                Je-li výrobek na trhu po dobu kratší než 30 dnů, obsahuje informace o slevě z ceny výrobku 
                informaci o jeho nejnižší ceně uplatňované od uvedení výrobku na trh.
              </li>
              <li>
                Zvyšuje-li se sleva z ceny postupně, obsahuje informace o slevě z ceny výrobku informaci o jeho 
                ceně uplatňované prodávajícím před první poskytnutou slevou.
              </li>
            </ol>
          </blockquote>

          <p>Ačkoliv ještě neznáme finální znění české novely, věříme že nová pravidla vedou k větší férovosti, 
            a tak jsme se je rozhodli nasadit již nyní. Současně tím rádi pomůžeme českým e-shopům se na novou 
            směrnici připravit v předstihu.</p>

          <p>Jak už to tak u právních předpisů bývá, nejsou vždy neprůstřelné, nebo řeší jen část problému. 
            Tušíme, že speciální případy bude každý e-shop řešit po svém. Nicméně základní pravidlo o výpočtu 
            slevy v okamžiku zlevnění by mělo mít jednotný výklad. Na Hlídači shopů jsme prozatím implementovali 
            následující model:</p>

          <p><b>Pokud bylo zboží zlevněno, považujeme to za slevovou akci do doby,
            dokud nedojde ke zdražení, nebo pokud není sleva starší 30&nbsp;dní. Pak slevu
            počítáme vůči <i>nejnižší ceně, za kterou se zboží
              prodávalo během 30&nbsp;dní před začátkem slevové akce</i>.</b></p>

          <p><b>Pokud je sleva starší 30&nbsp;dní nebo se s&nbsp;cenou hýbalo nahoru, považujeme
            slevu za tržní korekci cen. V&nbsp;takovém případě počítáme reálnou slevu
            vůči běžné ceně. Za běžnou cenu považujeme <i>cenu takovou, za
              kterou se zboží prodávalo nejčastěji za posledních 60&nbsp;dní</i>.</b></p>
          
          <p>Tímto jsme v souladu s EU směrnící a prvními dvěmi body českého předběžného znění. 
            Třetí bod o vícenásobném zlevnění prozatím nereflektujeme, jelikož nedefinuje časové 
            období mezi dalšími slevami. Situace, kdy pravidelně např. jednou za rok dojde ke zlevnění 
            výrobku (a&nbsp;jinak se s cenou nehýba) a prodejce se může stále odkazovat na původní cenu před 
            několika lety, nám příjde proti duchu EU směrnice.</p>

          <p>Současně bychom uvítali definici časového období od začátku slevové akce (zlevnění výrobku), 
            po které může prodejce stále uvádět slevu (“životnost slevy”). V naší metodice jsme definovali 
            30 dní, případně ukončení v den, kdy dojde k pohybu ceny směrem nahoru.</p>  

      </article>
    </div>
  </div>
{% endblock %}
