{% extends 'layouts/master.njk' %}
{% from 'macros/helpers.njk' import sprite %}
{% block title %}Přehled Black Fridays na Hlídači shopů{% endblock %}

{% block preload %}
{% endblock %}

{% block styles %}
  <style>
    .shops-stats {
      border-spacing: 0 12px;
    }

    .shops-stats .sprite svg {
      width: 80px;
      max-height: 23px;
    }

    .shops-stats thead th {
      text-align: left;
      font-weight: normal;
      font-size: 14px;
      padding: 12px;
      border-bottom: 1px solid #dadada;
    }

    .shops-stats thead th:first-of-type {
      font-weight: bold;
    }

    .dashboard-row td,
    .dashboard-row th {
      border: 1px solid #ebeef2;
      border-left: none;
      border-right: none;
      border-collapse: collapse;
      padding: 12px;
    }

    .dashboard-row th {
      border-left: 1px solid #ebeef2;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    .dashboard-row td {
      text-align: right;
    }

    .dashboard-row td:last-of-type {
      border-right: 1px solid #ebeef2;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .dashboard ul {
      margin: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .dashboard li a {
      padding: 0 1em;
    }

    .hs-year-selector :is(a:link, a:visited) {
      text-decoration: none;
      color: var(--mdc-theme-text-primary-on-light);
    }

    .hs-year-selector a:hover {
      text-decoration: underline;
      color: var(--mdc-theme-secondary-dark);
    }
  </style>
  <link rel="stylesheet" href="/assets/css/reviews.css">
  <style>
    .review__rating {
      padding-right: 0;
    }
  </style>
{% endblock %}

{% block main %}
  <section class="dashboard">
    <div class="mdc-layout-grid">
      <div class="layout-wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h2>Black Friday v číslech</h2>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <ul class="hs-year-selector">
              {% for year in range(2022, 2018, -1) %}
                <li><a href="?rok={{ year }}">{{ year }}</a></li>
              {% endfor %}
            </ul>
            <script type="module">
              const qs = new URL(location).searchParams;
              const year = qs.get("rok") ?? 2022;
              for (const el of document.querySelectorAll(".hs-year-selector a")) {
                if (el.textContent != year) continue;
                const newEl = document.createElement("strong");
                newEl.textContent = year;
                el.parentNode.appendChild(newEl);
                el.remove();
              }
            </script>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <table class="shops-stats">
              <colgroup>
                <col width="150"/>
              </colgroup>
              <thead>
              <tr>
                <th scope="col">E-shop</th>
                <th scope="col">Produktů celkem</th>
                <th scope="col">Produktů v Black Friday</th>
                <th scope="col">Průměrná uváděná sleva</th>
                <th scope="col">Průměrná reálná sleva</th>
                <th scope="col">Začátek akce</th>
                <th scope="col">Konec akce</th>
                <th scope="col">Rating</th>
              </tr>
              </thead>
              <tbody id="table-root">
              <tr>
                <td colspan="5">
                  <div class="loading-container">
                    <div class="loader" aria-label="Načítám data…">
                      Chvilku strpení, načítají se data&hellip;
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <p class="explanation">
              Poznámka: <em>Reálná sleva</em> se počítá podle <a href="/metodika/#nova">naší nové metodiky</a>.
            </p>
            <p>Zajímá vás detailnější pohled, jak si e-shopy vedou dlouhodobě s přístupem ke slevám? Podívejte se na náš
              <a href="/dashboard/">přehled připravenosti e-shopů na směrnici EU ohledně udávaných slev.</a>
            </p>
          </div>
          <div id="analyzy" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h2>Naše analýzy</h2>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            {% include "shared/banner.njk" %}
          </div>

          {% include "shared/analysis.njk" %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block scripts %}
  <script type="module">
    import { main } from "/assets/esm/dashboard.js";

    const tableRoot = document.getElementById("table-root");
    const year = new URL(location.href).searchParams.get("rok") ?? 2022;
    main({ year, tableRoot, extraData: {{ dashboard | dump | safe }} });
  </script>
{% endblock %}
