<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="Accept-CH" content="DPR,Viewport-Width,Width,Save-Data,UA" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1" />
  <title>Hlídačshopů.cz</title>
  <link rel="modulepreload" href="/assets/js/widget.js">
  <link rel="preconnect" href="https://use.typekit.net">
  <link rel="preconnect" href="https://api2.hlidacshopu.cz">
  <style>
    @font-face {
      font-family:"bc-novatica-cyr";
      src:url("https://use.typekit.net/af/3c6e99/00000000000000007735b6c1/30/l?primer=9534f20d24153432f138f14be19fe00ed05018076afc824dd1a6f6ca76bae7c7&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/3c6e99/00000000000000007735b6c1/30/d?primer=9534f20d24153432f138f14be19fe00ed05018076afc824dd1a6f6ca76bae7c7&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/3c6e99/00000000000000007735b6c1/30/a?primer=9534f20d24153432f138f14be19fe00ed05018076afc824dd1a6f6ca76bae7c7&fvd=i4&v=3") format("opentype");
      font-display:swap;font-style:italic;font-weight:400;
    }

    @font-face {
      font-family:"bc-novatica-cyr";
      src:url("https://use.typekit.net/af/788233/00000000000000007735b6c8/30/l?primer=9534f20d24153432f138f14be19fe00ed05018076afc824dd1a6f6ca76bae7c7&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/788233/00000000000000007735b6c8/30/d?primer=9534f20d24153432f138f14be19fe00ed05018076afc824dd1a6f6ca76bae7c7&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/788233/00000000000000007735b6c8/30/a?primer=9534f20d24153432f138f14be19fe00ed05018076afc824dd1a6f6ca76bae7c7&fvd=n4&v=3") format("opentype");
      font-display:swap;font-style:normal;font-weight:400;
    }

    @font-face {
      font-family:"bc-novatica-cyr";
      src:url("https://use.typekit.net/af/d008cd/00000000000000007735b6d3/30/l?primer=9534f20d24153432f138f14be19fe00ed05018076afc824dd1a6f6ca76bae7c7&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/d008cd/00000000000000007735b6d3/30/d?primer=9534f20d24153432f138f14be19fe00ed05018076afc824dd1a6f6ca76bae7c7&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/d008cd/00000000000000007735b6d3/30/a?primer=9534f20d24153432f138f14be19fe00ed05018076afc824dd1a6f6ca76bae7c7&fvd=n6&v=3") format("opentype");
      font-display:swap;font-style:normal;font-weight:600;
    }

    @font-face {
      font-family:"bc-novatica-cyr";
      src:url("https://use.typekit.net/af/a5db3b/00000000000000007735b6d6/30/l?primer=9534f20d24153432f138f14be19fe00ed05018076afc824dd1a6f6ca76bae7c7&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/a5db3b/00000000000000007735b6d6/30/d?primer=9534f20d24153432f138f14be19fe00ed05018076afc824dd1a6f6ca76bae7c7&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/a5db3b/00000000000000007735b6d6/30/a?primer=9534f20d24153432f138f14be19fe00ed05018076afc824dd1a6f6ca76bae7c7&fvd=n7&v=3") format("opentype");
      font-display:swap;font-style:normal;font-weight:700;
    }

    :root {
      --border-radius: 8px;
    }

    body {
      font-family: bc-novatica-cyr, sans-serif;
      font-kerning: normal;
      font-variant-numeric: lining-nums;
      font-variant-ligatures: common-ligatures contextual;
      -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum";
      font-feature-settings: "kern", "liga", "clig", "calt", "lnum";
      -webkit-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: geometricPrecision;
    }

    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      text-align: center;
      background-color: #fff;
    }

    #app-root {
      width: 600px;
      height: 315px;
      overflow: hidden;
      box-sizing: border-box;
    }

    #app-root #hlidacShopu {
      border: none;
    }
    #app-root .hs-original-price b {
      color: #000000;
      font-size: 14px;
    }

    .hs-body {
      display: flex;
    }

    .hs-chart-wrapper {
      height: 200px;
      width: 400px;
    }

    .hs-product-detail {
      width: 180px;
    }

    .hs-product-detail img {
      max-height: 164px;
      max-width: 160px;
    }

    .hs-actual-price {
      font-size: 12px;
      text-align: center;
    }

    .hs-actual-price b {
      font-size: 24px;
      display: block;
      color: #ca0505;
    }

    .hs-claimed-discount {
      font-size: 12px;
    }

    figure {
      display: flex;
      flex-direction: column;
      margin: 0 24px;
    }
    figcaption {
      margin-top: 8px;
    }
  </style>
</head>
<body class="widget">
<main id="app-root"></main>
<script type="module" src="/assets/js/widget.js"></script>
</body>
</html>
