{% extends 'layouts/master.njk' %}
{% from 'macros/helpers.njk' import sprite %}
{% block title %}Přehled připravenostu e-shopů na směrnici EU ohledně udávaných slev podle Hlídači shopů{% endblock %}

{% block preload %}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/assets/css/dashboard.css">
  <style>
    .shops-stats {
      border-spacing: 0 12px;
    }

    .shops-stats .sprite svg {
      width: 80px;
      max-height: 23px;
    }

    .shops-stats thead th {
      text-align: left;
      font-weight: normal;
      font-size: 14px;
      padding: 12px;
      border-bottom: 1px solid #dadada;
    }

    .shops-stats thead th:first-of-type {
      font-weight: bold;
    }

    .dashboard-row td,
    .dashboard-row th {
      border: 1px solid #ebeef2;
      border-left: none;
      border-right: none;
      border-collapse: collapse;
      padding: 12px;
    }

    .dashboard-row th {
      border-left: 1px solid #ebeef2;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    .dashboard-row td {
      text-align: right;
    }

    .dashboard-row td:last-of-type {
      border-right: 1px solid #ebeef2;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  </style>

  <style>
    .hc-rating.hc-rating {
      padding-right: 0;
      float: right;
    }

    .hs-metrics {
      display: flex;
      margin: 0 24px;
      justify-content: space-evenly;
    }

    .hs-metrics__item {
      display: flex;
      flex-direction: column-reverse;
    }

    .hs-metrics__item dt,
    .hs-metrics__item dd {
      margin: 0;
      text-align: center;
    }

    .radial-progress {
      height: auto;
      max-width: 120px;
      transform: rotate(-90deg);
      width: 100%;
    }

    .radial-progress circle {
      fill: transparent;
      stroke: #EBEEF2;
      stroke-dashoffset: 219.91148575129;
      stroke-linecap: round;
      /*stroke-width: 10;*/
    }

    .radial-progress .incomplete {
      stroke: #EBEEF2;
      stroke-width: 4px;
    }

    .radial-progress .complete {
      stroke: var(--stroke-color);
      stroke-dasharray: 219.91148575129;
      stroke-width: 10px;
    }

    .shops-stats:target,
    .dashboard-row:target {
      scroll-margin-top: 100px;
    }

    .dashboard-row:target th,
    .dashboard-row:target td {
      border-color: #1d3650;
    }
  </style>
{% endblock %}

{% block main %}
  <section class="dashboard">
    <div class="mdc-layout-grid">
      <div class="layout-wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h2>Sledované e-shopy v číslech</h2>

            <p>Evropská komise vydala směrnici, která mimo jiné určuje online
              prodejcům jasná pravidla, jak postupovat, pokud chtějí komunikovat slevu
              u&nbsp;prodávaných produktů. Tato evropská směrnice měla termín implementace
              stanovený na 28.&nbsp;5.&nbsp;2022. Čeští zákonodárci zatím novelu zákona
              o&nbsp;ochraně spotřebitele připomínkují. Reálně tak u&nbsp;nás pravděpodobně
              začne platit až v&nbsp;roce 2023, i&nbsp;když podle některých právních výkladů
              by ji čeští spotřebitelé mohli vyžadovat již nyní. Podívejte se, jak
              jsou na ni české e-shopy připravené:</p>
            <p class="explanation">
              Můžete také rovnou přeskočit na <a href="#tabulka">přehledovou tabulku</a>.
            </p>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <div id="shop-cards" class="mdc-layout-grid__inner"></div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <table id="tabulka" class="shops-stats">
              <colgroup>
                <col width="150" />
              </colgroup>
              <thead>
              <tr>
                <th scope="col">E-shop</th>
                <th scope="col">Produktů celkem</th>
                <th scope="col">Produktů ve slevě</th>
                <th scope="col">Průměrná uváděná sleva</th>
                <th scope="col">Průměrná reálná sleva</th>
                <th scope="col">Kde se neshodneme</th>
                <th scope="col">Poslední aktualizace</th>
                <th scope="col">Rating</th>
                <th scope="col">Detail</th>
              </tr>
              </thead>
              <tbody id="table-root">
              <tr>
                <td colspan="5">
                  <div class="loading-container">
                    <div class="loader" aria-label="Načítám data…">
                      Chvilku strpení, načítají se data&hellip;
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <p class="explanation">
              Poznámka: <em>Reálná sleva</em> se počítá podle <a href="/metodika/#nova">naší nové metodiky</a>.
            </p>
          </div>
          <div id="analyzy" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h2>Naše analýzy</h2>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            {% include "shared/banner.njk" %}
          </div>

          {% include "shared/analysis.njk" %}

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" style="height: 48px"></div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h2>Otevřená data <small>beta</small></h2>
            <p>
              Otevíráme
              <a
                href="https://console.cloud.google.com/bigquery?p=hlidacshopu&d=hlidacshopu&t=allshops&page=table"
                target="tableau"
              >naše data pro vaše analýzy</a>. Přístup k datům je zdarma,
              avšak potřebujete mít vytvořený účet na
              <a href="https://cloud.google.com/free/" target="tableau">Google Cloud Platform</a>
              se zadanými platebními údaji. BigQuery má dostatečně velkorysé volné
              kredity na to, abyste nemuseli za analýzu našich dat platit.
            </p>
            <h3>Implementace nad našimi daty</h3>
            <ul>
              <li>
                <a
                  href="https://public.tableau.com/app/profile/alena.me.ov./viz/TOP_SLEVY/Dashboard1"
                  target="tableau"
                >TOP Slevy (Czechitas)</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script type="module">
    import { main } from "/assets/esm/dashboard-v2.js";

    const tableRoot = document.getElementById("table-root");
    const shopCards = document.getElementById("shop-cards");
    main({ tableRoot, shopCards, extraData: {{ dashboard | dump | safe }} });
  </script>
{% endblock %}
