{% from 'macros/helpers.njk' import spriteTarget %}
<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="Accept-CH" content="DPR,Viewport-Width,Width,Save-Data,UA" />
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1,minimum-scale=1"
  />
  <title>Hlídačshopů.cz</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://api2.hlidacshopu.cz" crossorigin>
  <meta name="theme-color" content="#ffffff" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Hlídač shopů" />
  <meta name="apple-mobile-web-app-title" content="Hlídač shopů" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <style>
    :root {
      --mdc-theme-primary: #fff;
      --mdc-theme-on-primary: #000;

      --mdc-theme-secondary: #545fef;
      --mdc-theme-secondary-dark: #3a42a0;
      --mdc-theme-secondary-light: #f7f7ff;

      --mdc-theme-third: #ca0505;
      --mdc-theme-fourth: #5dbd2f;

      --mdc-theme-text-primary-on-light: #000;
      --mdc-theme-text-secondary-on-light: #2e2828;
      --mdc-theme-text-third-on-light: #979797;

      --mdc-theme-primary-background: rgba(84, 95, 239, 0.07);
      --mdc-theme-secondary-background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 24.48%,
        rgba(84, 95, 239, 0.1) 100%
      );

      --hs-theme-background: #fff;
      --hs-theme-border: #e6e6ff;
      --border-radius: 8px;

      --mdc-typography-font-family: -apple-system, system-ui, BlinkMacSystemFont, "SF Pro", sans-serif;
    }

    body {
      font-family: var(--mdc-typography-font-family);
      font-kerning: normal;
      font-variant-numeric: lining-nums slashed-zero;
      font-variant-ligatures: common-ligatures contextual;
      -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
      font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
      -webkit-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: geometricPrecision;
    }

    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      text-align: center;
      background-color: #fff;
    }

    time {
      font-weight: bold;
      line-height: 2;
    }

    del {
      text-decoration: none;
      position: relative;
      display: inline-block;
    }

    del::after {
      content: "";
      position: absolute;
      border-bottom: 2px solid var(--mdc-theme-text-primary-on-light);
      transform: rotate(167.24deg);
      bottom: 0;
      left: 0;
      height: calc(50% - 1px);
      width: 100%;
    }

    .hs-result {
      margin: 0 16px 16px;
    }

    .box {
      text-align: center;
      margin-bottom: 16px;
    }

    .box.box--purple {
      background: var(--mdc-theme-secondary-light);
      border-radius: 6px;
      padding: 16px;
    }

    .hs-real-discount {
      align-self: flex-start;
      background-color: #ffe607;
      color: #1d3650;
      border-radius: 4px;
      text-align: center;
      line-height: 1.6;
      padding: 6px 10px 6px;
      margin: 16px 0 0;
    }

    .hs-real-discount a {
      color: #1d3650;
    }

    .hs-real-discount b {
      font-size: 2em;
      line-height: 1.2;
      display: block;
    }

    .hs-real-discount.hs-real-discount--neutral {
      background-color: transparent;
    }

    .hs-real-discount.hs-real-discount--good {
      background-color: #5dbd2f;
      color: #ffffff;
    }

    .hs-real-discount.hs-real-discount--negative {
      background-color: #ca0505;
      color: #fff;
    }

    .hs-real-discount.hs-real-discount--good a,
    .hs-real-discount.hs-real-discount--negative a {
      color: #fff;
    }

    .hs-real-discount.hs-real-discount--no-data {
      display: none;
    }

    .hs-actual-price {
      color: var(--mdc-theme-third);
      font-weight: bold;
      font-size: 1.2em;
      line-height: 1.6;
    }

    .hs-original-price {
      color: var(--mdc-theme-text-secondary-on-light);
    }

    .hs-claimed-discount {
      margin-top: 16px;
      font-size: 14px;
    }

    .loader {
      display: flex;
      line-height: 48px;
      align-items: center;
      justify-content: center;
    }
    .spinner {
      position: relative;
      width: 32px;
      height: 32px;
      display: inline-block;
    }

    .spinner .bar {
      width: 6%;
      height: 16%;
      background: #C4C4C4;
      position: absolute;
      left: 49%;
      top: 43%;
      opacity: 0;
      -webkit-border-radius: 50px;
      -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
      -webkit-animation: fade 1s linear infinite;
    }

    @-webkit-keyframes fade {
      from {opacity: 1;}
      to {opacity: 0.25;}
    }

    .spinner .bar1 {
      -webkit-transform:rotate(0deg) translate(0, -130%);
      -webkit-animation-delay: 0s;
    }

    .spinner .bar2 {
      -webkit-transform:rotate(30deg) translate(0, -130%);
      -webkit-animation-delay: -0.9167s;
    }

    .spinner .bar3 {
      -webkit-transform:rotate(60deg) translate(0, -130%);
      -webkit-animation-delay: -0.833s;
    }
    .spinner .bar4 {
      -webkit-transform:rotate(90deg) translate(0, -130%);
      -webkit-animation-delay: -0.7497s;
    }
    .spinner .bar5 {
      -webkit-transform:rotate(120deg) translate(0, -130%);
      -webkit-animation-delay: -0.667s;
    }
    .spinner .bar6 {
      -webkit-transform:rotate(150deg) translate(0, -130%);
      -webkit-animation-delay: -0.5837s;
    }
    .spinner .bar7 {
      -webkit-transform:rotate(180deg) translate(0, -130%);
      -webkit-animation-delay: -0.5s;
    }
    .spinner .bar8 {
      -webkit-transform:rotate(210deg) translate(0, -130%);
      -webkit-animation-delay: -0.4167s;
    }
    .spinner .bar9 {
      -webkit-transform:rotate(240deg) translate(0, -130%);
      -webkit-animation-delay: -0.333s;
    }
    .spinner .bar10 {
      -webkit-transform:rotate(270deg) translate(0, -130%);
      -webkit-animation-delay: -0.2497s;
    }
    .spinner .bar11 {
      -webkit-transform:rotate(300deg) translate(0, -130%);
      -webkit-animation-delay: -0.167s;
    }
    .spinner .bar12 {
      -webkit-transform:rotate(330deg) translate(0, -130%);
      -webkit-animation-delay: -0.0833s;
    }

  </style>
  <link rel="modulepreload" href="/assets/js/share-action.js">
  {% set imports = assets.outputs["share-action.js"].imports %}
  {% for import in imports %}
    <link rel="preload" as="script" href="/assets/js/{{ import.path }}" crossorigin>
  {% endfor %}
  <!-- Google Tag Manager -->
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        "gtm.start": new Date().getTime(),
        event: "gtm.js"
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-58WNT3B");
  </script>
  <!-- End Google Tag Manager -->
  <meta name="rollbar:access-token" content="907e1d1fd2f94767af0a6bd5afda40ed">
  <meta name="hs:environment" content="{{ build.environment }}">
  <meta name="hs:version" content="{{ build.version }}">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-58WNT3B"
    height="0"
    width="0"
    style="display:none;visibility:hidden"
  ></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<main id="app-root"></main>
<script type="module" src="/assets/js/share-action.js"></script>
</body>
</html>
