{
  "plugins": [
    "es",
    "lit",
    "prettier",
    "promise"
  ],
  "extends": [
    "prettier",
    "plugin:lit/recommended",
    "plugin:promise/recommended",
    "plugin:compat/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": false
  }
}
